  #navbar {

    padding: 0.25rem 1rem 0.1rem;
  }

  #navbar ul li a {
    font-size: 2rem;
    padding: 0.5rem 0.1rem;
  }

  #navbar h1 {
    font-size: 2rem;
    color: var(--primary-color);
    padding: 1rem 0 0.75rem;
    margin-left: 0rem;
    text-align: left;
  }


  .menu-wrap .menu>div>div>ul>li {

    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem 0;
  }

  .menu-wrap {
    top: 0.25rem;
  }

  .menu-wrap .hamburger {
    width: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .menu-wrap .hamburger>div {
    height: 3px;
  }

  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger>div::before,
  .menu-wrap .hamburger>div::after {
    height: 3px;

  }

  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger>div::before,
  .menu-wrap .hamburger>div::after {

    top: -10px;

  }

  /* Moves Line Down */
  .menu-wrap .hamburger>div::after {
    top: 10px;
  }

  #showcase:before {
    background: #333 url("../img/supermobile/showcase_final.jpg") no-repeat center center/cover;
  }

  #about .container p {
    padding: 0.5rem 0;


    font-size: 1.1rem;
    line-height: 1.3;

  }

  #contact .contact-form label {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  #contact .contact-form input,
  #contact .contact-form textarea {
    font-size: 0.9rem;
    line-height: 2rem;
  }

  .news>picture {
    width: 80%;
  }

  .news>picture img {
    padding: 0;
  }

  .dog-main {
    grid-template-columns: 1fr;
  }

  .dog-main li {
    font-size: 0.7rem;
  }

  #litters h1 {
    font-size: 1.5rem;
  }

  #dogs .text,
  #litters .text {

    font-size: 0.85rem;
  }

  #dogs .button {
    margin: 0.2rem auto 1rem;
  }

  .male img.svg {
    left: 43%
  }

  .female img.svg {
    left: 40.5%;
    top: 21%;
  }

  .dog-info-left,
  .dog-info-right {
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
  }

  .dog-name img.svg {
    width: 3rem;
    top: 24%;
  }

  #dog-pic {
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  #dogs .button {
    font-size: 0.7rem;
    line-height: 6.2;

  }

  .black-line {
    background-color: transparent;
    margin: 1rem 0;
  }

  #litters .heading h1 {
    font-size: 1.4rem;
    line-height: 1.3;
    margin: 0.5rem 1rem 1rem 1rem;
  }

  #litters div a img.svg {
    width: 2.5rem;
  }

  #litters_text .container_p p {
    width: 100%;
  }

  #litters_gallery h3 {
    font-size: 0.9rem;
  }

  #litters_gallery h2 {
    font-size: 3rem;

  }

  .puppies {
    justify-content: space-around;
    align-items: center;
  }

  .puppies img {}

  .puppies_names {

    padding-left: 0;

  }

  .puppies_names h4 {
    font-size: 1rem;
  }

  .puppies_names h5 {
    font-size: 0.7rem;
  }